* {
    font-family: "Harmonia Sans", sans-serif;
    font-size: large;
}

:root {
    --color-blue: var(rgb(107, 118, 195));
    --color-black: black;
    --color-green: rgb(3, 160, 98);
}

body {
    background: rgb(43, 44, 43);
    background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#page-container {
    position: relative;
    min-height: 100vh;
  }

.header {
    background-size: cover;
}

ul.header {
    padding: 0;
}

h1 {
    font-size: 40pt;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px 2px black; */
}

.my-name {
    text-align: center;
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* padding-top: 35px;
    padding-left: 36px;
    padding-right: 36px; */
}

.nav {
    justify-content: center;
    width: auto;
} 

.nav-tabs .nav-link {
    border-bottom: 0.5pt solid white;
    border-radius: 10;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-bottom: transparent;
}

.nav-tabs {
    border: transparent;
}

.nav-tabs:hover {
    border: transparent;
}

.nav-item.show {
    background-color: rgb(90, 100, 97);
    border: none;
}

.nav-link {
    color: rgb(255, 255, 255);
    border: transparent;
    width: 25vw;
    text-align: center;
}

.nav-link:hover {
    color: white;
    border: transparent;
}

.nav-link:active {
    color: white;
}

.rankListContainer {
    margin-top: 5%;
    display: flex;
    flex: auto;
    color: white;
}

.rankList {
    width: 33vw;
    height: 70vh;
    text-align: center;
    border-right: 0.25pt solid black;
    border-left: 0.25pt solid black;
}

.rankList ol {
    text-align: left;
    margin-left: 5%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;            /* Footer height */
    text-align: center;
    margin-bottom: 80px;
}

.footer img {
    width: 100px;
    transition: 0.2s;
    padding: 10px;
    opacity: 0.5;
}

.footer img:hover {
    transition: 0.2s;
    opacity: 1;
}